body {
    background: linear-gradient(to bottom, #60259E, #4A1A7F, #300E5F);
    font-family: "Sans Serif", system-ui;
    min-height: 101vh;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 250px ;
    height: 250px;
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%, -50%);
}

svg{
    transform: translate(6%, 0%);
}

#menuToggle {
    display: block;
    position: fixed;
    top: 7%;
    left: 3vw;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

    #menuToggle a {
        text-decoration: none;
        color: #fff;
        transition: color 0.3s ease;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }


    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #fff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
    }

        #menuToggle span:first-child {
            transform-origin: 0% 0%;
        }

        #menuToggle span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }


    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
    }


        #menuToggle input:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }


        #menuToggle input:checked ~ span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }


#menu {
    position: fixed;
    min-height: 100000px;
    box-sizing: border-box;
    width: 300px;
    margin: -100px 0 0 -70px;
    padding: 50px;
    padding-top: 125px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
    #menu a:hover {
        color: #dcffbc;
        font-size: 30px;
        transition: font-size 0.3s ease-out;
    }
    #menu ul {
        padding: 10px 0;
        font-size: 20px;
    }
    #menu i {
        padding: 10px 0;
        font-size: 20px;
    }

#menuToggle input:checked ~ ul {
    transform: none;
}

#first{
    margin-top:70px;
}

.regions{
    padding:15px;
    margin-left:10%;
    margin-top: 4px;
    background :#5715a2;
    color:#fff;
    border-radius:10px;
    list-style-type: none;
    font-size: 25px;
    border-style: groove;
    border-color:#5715a2;
}
summary{
    list-style-type: none;
}
li{
    list-style-type: none;
}

#ecole{
    font-weight: bold;
    margin-left:12%;
    background:#7f00ff;
    border-radius:10px;
    list-style-type: none;
    font-size: 25px;
    border-style: groove;
    border-color:#7f00ff;
    color:#ffffff;
    text-align: center;
}
a:link {
    color:white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
}
#ordre{
    position: relative;
    display: flex;
    justify-content: center;
    color:white;
    font-size:2vw;
    font-weight: 900;
    font-family: Serif, serif;
}
.group {
    margin-left:80vw;
    margin-top:2.5vw;
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 45px;
    padding-left: 2.5rem;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    border: 0;
    border-radius: 12px;
    background-color: #5715a2;
    outline: none;
    color: #bdbecb;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
}

.input::placeholder {
    color: #bdbecb;
}

.input:hover {
    box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
    transform: scale(0.95);
}

.input:focus {
    box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
    position: absolute;
    left: 1rem;
    fill: #bdbecb;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
}
path {
    fill: #82c46c;
    stroke:white;<img id="photo" src="profil%20image.png" alt="Photo de profil" />
    stroke-width: 1.25;
}

path:hover {
    fill: #516a32;
    cursor: pointer;
}
.groupir:hover .Ile-de-France{
    fill: #516a32;
    cursor: pointer;
}
#svg-carte-france{
    margin-top:3vw;
    margin-right:6vw;

}
#profil{
    width:80vw;
    height:35vw;
    margin-left:10%;
    margin-top:-3%;
    background :#F8F8F1;
    color:#000;
    border-radius:10px;
    list-style-type: none;
    font-size: 25px;
    border-style: groove;
    border-color:#5715a2;

}

#commentaire{
    width:80vw;
    height:35vw;
    margin-left:10%;
    margin-top:0%;
    background :#F8F8F1;
    color:#000;
    border-radius:10px;
    list-style-type: none;
    font-size: 25px;
    border-style: groove;
    border-color:#5715a2;

}
#contact{
    width:80vw;
    height:35vw;
    margin-left:10%;
    margin-top:0%;
    background :#F8F8F1;
    color:#000;
    border-radius:10px;
    list-style-type: none;
    font-size: 25px;
    border-style: groove;
    border-color:#5715a2;

}
#photo {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 78%;
    top: 10%;
    border-radius: 10px;
}
#enregistrer{
    position: relative;
    top: 11vw;
    left: 88%;
    display: none;
}
form:has(#file:valid) #enregistrer {
    display: inline-block;
}
#pp{
    top:10%;
    left:95%;
    width:5%;
    height:10%;
    border-radius:50%;

}

#name{
    margin-top:10%;
    margin-left:10%;
    font-weight: bold;
    color: black;
}
#logo{
    position: absolute;
    width: 20vw;
    height:7vw;
    left:87vw;
    top:90px;
    border-radius: 10px;

}
iframe{
    margin-left:82.8%;
    margin-top:9.5%;
    width: 15vw ;
    height: 5vw;
    border-radius: 10px;

}

#noteggmaps{
    position:relative;
    color:white;
    font-weight: bold;
    left:85%;
    text-decoration: none;
    top:0vw;
}
#avis{
    position:relative;
    width:40vw;
    height:40vw;
    left:10%;
    top:-70px;
    background :#F8F8F1;
    color:#000;
    border-radius:10px;
    list-style-type: none;
    font-size: 25px;
    border-style: groove;
    border-color:#5715a2;
}
#avistitre{
    width:40vw;
    height:5vw;
    position: relative;
    display: flex;
    justify-content: center;
    color: black;
    background:#FEFEE2;
    align-content: space-around;
    flex-wrap: wrap;
    border-radius:10px ;
    border-color: black;
    border:groove;

}
.fa-image{
    color: white;
}
.fa-arrow-right-from-bracket{
    color:white;
}
.messageBox {
    position: relative;
    top:70%;
    width: 38vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid rgb(63, 63, 63);
    justify-content: space-around

}
.messageBox:focus-within {
    border: 1px solid rgb(110, 110, 110);
}
.fileUploadWrapper {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#file {
    display: none;
}
.fileUploadWrapper label {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.fileUploadWrapper label svg {
    height: 18px;
}
.fileUploadWrapper label svg path {
    transition: all 0.3s;
}
.fileUploadWrapper label svg circle {
    transition: all 0.3s;
}
.fileUploadWrapper label:hover svg path {
    stroke: #fff;
}
.fileUploadWrapper label:hover svg circle {
    stroke: #fff;
    fill: #000;
}
.fileUploadWrapper label:hover .tooltip {
    display: block;
    opacity: 1;
}
.fileUploadWrapper {
    width: fit-content;
    height: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

#file {
    display: none;
}
.fileUploadWrapper label {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.fileUploadWrapper label svg {
    height: 18px;
}
.fileUploadWrapper label svg path {
    transition: all 0.3s;
}
.fileUploadWrapper label svg circle {
    transition: all 0.3s;
}
.fileUploadWrapper label:hover svg path {
    stroke: #fff;
}
.fileUploadWrapper label:hover svg circle {
    stroke: #fff;
    fill: #000;
}
.fileUploadWrapper label:hover .tooltip {
    display: block;
    opacity: 1;
}
.tooltip {
    position: absolute;
    top: -40px;
    display: none;
    opacity: 0;
    color: white;
    font-size: 10px;
    text-wrap: nowrap;
    background-color: #000;
    padding: 6px 10px;
    border: 1px solid #3c3c3c;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
    transition: all 0.3s;
}
#messageInput {
    width: 200px;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    color: white;
}
#messageInput:focus ~ #sendButton svg path,
#messageInput:valid ~ #sendButton svg path {
    fill: #3c3c3c;
    stroke: white;
}

#sendButton {
    width: fit-content;
    height: 100%;
    color:white;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}
#sendButton svg {
    height: 18px;
    transition: all 0.3s;
}
#sendButton svg path {
    transition: all 0.3s;
}
#sendButton:hover svg path {
    fill: #3c3c3c;
    stroke: white;
}

.button {
    position: relative;
    display: flex;
    left: 82%;
    top:70px;
    --bg: #000;
    --hover-bg: #ff90e8;
    --hover-text: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}

.button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
    transform: translate(0);
    box-shadow: none;
}
li{
    position: relative;
    display: flex;
    justify-content: center;
    top:100px;
}
#pb{
    height: 44vw;
    width: 80vw;

}
#pub{
    position: absolute;
    display: flex;
    left:90vw;
    top:20vw;
    height:40vw;
    width:5vw;
}
h1{
    position: relative;
    display: flex;
    justify-content: center;
    color:white;
    font-size:2vw;
    font-weight: 900;
    font-family: Serif, serif;
}
#modifiervotremotdepasse{
    margin-top:0%;
    margin-left:10%;
    font-weight: bold;
    color: black;
}
#modifiervotremotdepasse:hover{
    color:red;
}
#nomecole{
    color:white;
    height: 100vw;
    background:white;
    position:relative;
    justify-content: center;
    justify-items: center;
}